TELEGRAM_BOT_TOKEN="7661822656:AAGNctqGh-klqNMG2w8i3HUjJV3ReFiugjk"    # fake

# email
EMAIL_ADDRESS="address@nes.ru"
EMAIL_PASSWORD="secret123"

# postgres
POSTGRES_USER="nespressouser"
POSTGRES_PASSWORD="secret123"
POSTGRES_DB="nespressodb"
POSTGRES_HOST="db"                  # host must be `db`
POSTGRES_PORT="5432"                # default PostgreSQL port
POSTGRES_DSN="postgresql+asyncpg://nespressouser:secret123@db:5432/nespressodb"

# API, $ openssl rand -hex 32
MYNES_TOKEN="9e7c3f4cf70c52d0dc72581176329d6282730fdd8643c6dc56c039ff2a2c1cb2"  # fake
